<section class="skills section" id="skills">
  <div class="container flex-center">
    <h1 class="section-title-01" [class.dark]="isDarkTheme">Skills</h1>
    <h2 class="section-title-02" [class.dark]="isDarkTheme">Skills</h2>
    <div class="content">
      <div class="skills-description">
        <h3 [class.dark]="isDarkTheme">My technical level</h3>
      </div>
      <div class="skills-container">
        <div
          class="skills_content"
          [ngClass]="{
            skills_open: activeIndex === i,
            skills_close: activeIndex !== i
          }"
          *ngFor="let skill of skills; let i = index"
        >
          <div
            class="skills_header"
            [class.dark]="isDarkTheme"
            (click)="toggleSkills(i)"
          >
            <i class="uil uil-brackets-curly skills_icon"></i>

            <div>
              <h1 class="skills_title" [class.dark]="isDarkTheme">
                {{ skill.category }}
              </h1>
              <span class="skills_subtitle">
                More than {{ skill.experience }} years</span
              >
            </div>

            <i class="uil uil-angle-down skills_arrow"></i>
          </div>
          <div class="skills_list grid">
            <div class="skills_data" *ngFor="let item of skill.skillsList">
              <div class="skills_titles">
                <img [src]="imageURL + item.image" class="skills_img" alt="" />
                <h3 class="skills_name" [class.dark]="isDarkTheme">
                  {{ item.name }}
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
