* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #fefefe;
}

.main.dark {
  background-color: #191627;
}
