<nav class="container">
  <div class="navigation">
    <ul>
      <li>
        <a [routerLink]="['/home']" routerLinkActive="active">
          <span class="icon"><i class="uil uil-estate nav_icon"></i></span>
          <span class="title">Home</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/about']" routerLinkActive="active">
          <span class="icon"><i class="uil uil-user nav_icon"></i></span>
          <span class="title">About Me</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/education']" routerLinkActive="active">
          <span class="icon"><i class="uil uil-graduation-cap"></i></span>
          <span class="title">Education</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/work']" routerLinkActive="active">
          <span class="icon"><i class="uil uil-briefcase-alt"></i></span>
          <span class="title">Work</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/skills']" routerLinkActive="active">
          <span class="icon"><i class="uil uil-file-alt nav_icon"></i></span>
          <span class="title">Skills</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/services']" routerLinkActive="active">
          <span class="icon"
            ><i class="uil uil-briefcase-alt nav_icon"></i
          ></span>
          <span class="title">Services</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/portfolio']" routerLinkActive="active">
          <span class="icon"><i class="uil uil-scenery nav_icon"></i></span>
          <span class="title">Portfolio</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/contact']" routerLinkActive="active">
          <span class="icon"><i class="uil uil-message nav_icon"></i></span>
          <span class="title">Contact Me</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
