<div class="qualification_data">
  <div class="qualification_content">
    <h3 class="qualification_title" [class.dark]="isDarkTheme">
      {{ mainTitle }}
    </h3>
    <span class="qualification_subtitle" [class.dark]="isDarkTheme">{{
      subTitle
    }}</span>
    <div class="qualification_calendar">
      <i class="uil uil-calendar-alt"></i> {{ calendar }}
    </div>
  </div>
  <div>
    <span class="qualification_rounder"></span>
    <span class="qualification_line"></span>
  </div>
</div>
