@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #191627;
  transition: 0.5s ease;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*=======Scroll bar=======*/

::-webkit-scrollbar {
  width: 10px;
  background-color: #c5cadf;
}

::-webkit-scrollbar-thumb {
  background-color: #70768a;
  border-radius: 2rem;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #454f6b;
}

/*=======Common styles for all sections=======*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  position: relative;
  max-width: 1150px;
  margin: auto;
  padding: 6rem 2rem 2rem;
}

.sub-section {
  position: relative;
  max-width: 1150px;
  margin: auto;
  padding: 6rem 0;
}

.section-title-01 {
  font-size: 4.8em;
  font-weight: 800;
  margin-bottom: 2rem;
  background: linear-gradient(to top, transparent 0%, #191627 70%);
  -webkit-background-clip: text;
  background-clip: text;
  color: #191627;
  opacity: 0.1;
}

.section-title-02 {
  font-size: 2.5em;
  font-weight: 700;
  color: #191627;
  transform: translateY(-80px);
}

.section-title-02:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 5px;
  right: 0;
  bottom: 0;
  background-color: #614fd0;
}

.container {
  position: relative;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: #614fd0;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  display: inline-block;
  margin-top: 25px;
  padding: 15px 25px;
  letter-spacing: 1px;
  border-radius: 10px;
}

.btn:is(:hover) {
  background-color: #614fd0;
}

/*=======Portfolio section=======*/
.portfolio .container .content {
  width: 100%;
}

.portfolio-description h3 {
  font-size: 2em;
  color: #191627;
  margin-bottom: 50px;
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  max-width: 100%;
  margin: 0 auto;
}

.portfolio-card {
  position: relative;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px, rgba(0, 0, 0, 0.3) 0px 0px 3px;
  border-bottom: 4px solid #614fe0;
  border-radius: 10px;
  padding: 15px;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio-card:is(:hover) {
  transform: scale(1.04);
}

.portfolio-card-img {
  width: 100%;
  position: relative;
}

.portfolio-card-img img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.portfolio-card-body {
  margin-top: 1rem;
}

.portfolio-card-body-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 5px;
}

.portfolio-card-body-title h3 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 30px;
  color: #191627;
  margin-right: 0.6rem;
}

.portfolio-card-body-title i {
  font-size: 1.6rem;
  color: white;
}

.portfolio-card-body-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  background: #614fe0;
  border-radius: 50%;
}

.portfolio-card .portfolio-learn-more-btn {
  color: #777;
  cursor: pointer;
  margin-top: 1rem;
  transition: 0.3s ease;
  padding-left: 0.5rem;
}

.portfolio-card .portfolio-learn-more-btn i {
  transition: 0.3s ease;
}

.portfolio-card:is(:hover) .portfolio-learn-more-btn i {
  transform: translateX(10px);
}

.portfolio-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  z-index: 2000;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
}

.portfolio-modal-content-data > div {
  width: 45%;
}

.portfolio-modal.active {
  visibility: visible;
  opacity: 1;
}

.portfolio-modal-body {
  position: relative;
  background: #fff;
  max-width: 700px;
  max-height: 80vh;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px, rgba(0, 0, 0, 0.3) 0px 0px 3px;
  transform: translateY(-50px);
  transition: 0.5s ease;
  overflow: scroll;
}

.portfolio-modal-img {
  width: 75%;
  margin: auto;
}

.portfolio-modal-img img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.portfolio-modal.active .portfolio-modal-body {
  transform: translateY(0);
}

.portfolio-modal-body .portfolio-modal-close-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  cursor: pointer;
  font-size: 1.5em;
  color: #191627;
}

.portfolio-modal-body h3 {
  font-size: 2em;
  color: #191627;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.portfolio-modal-body h4 {
  font-size: 1.4em;
  font-weight: 600;
  color: #191627;
  margin: 15px 0 10px;
}

.portfolio-modal-body ul li {
  margin-top: 15px;
}

.portfolio-modal-body ul li i {
  color: #614fe0;
  font-size: 1.2rem;
  margin-right: 10px;
}

/* ===== Dark Theme ===== */

.portfolio-card.dark {
  background-color: #211d35;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 3px,
    rgba(255, 255, 255, 0.3) 0px 0px 3px;
}

.portfolio-modal.dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.portfolio-modal-body.dark {
  background-color: #211d35;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 3px,
    rgba(255, 255, 255, 0.3) 0px 0px 3px;
}

.section-title-02.dark,
.portfolio-description h3.dark,
.portfolio-card-body-title h3.dark,
.portfolio-modal-content h3.dark,
.portfolio-modal-body .portfolio-modal-close-btn.dark {
  color: #fff;
}

.portfolio-modal-body h4.dark {
  color: #fff;
}

.portfolio-modal-body p.dark,
.portfolio-modal-body ul li.dark {
  color: lightgray;
}

.section-title-01.dark {
  color: #fff;
  opacity: 0.01;
}

/* ===== Pagination ===== */
.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.pagination-controls button {
  margin: 0 4px;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #614fe0;
  color: #fff;
  cursor: pointer;
}

.pagination-controls button i {
  font-size: 1.2rem;
}

.pagination-controls button:is(:hover) {
  background-color: #614fd0;
}

.pagination-controls button.disabled,
.pagination-controls button[disabled] {
  background-color: #614fe0;
  cursor: not-allowed;
}

.pagination-controls button.active {
  background-color: #fff;
  color: #191627;
}

/*=======Media query max-width 768px=======*/
@media screen and (max-width: 768px) {
  body {
    margin: 1rem 0 0 0;
  }

  .section-title-01 {
    font-size: 3rem;
  }

  .section-title-02 {
    font-size: 2rem;
    transform: translateY(-65px);
  }
}
