<footer class="footer" [ngClass]="{ dark: isDarkTheme }">
  <div class="footer-container">
    <div class="about group">
      <h2>Eslam</h2>
      <p>Front-end Developer</p>
    </div>
    <div class="hr"></div>

    <div class="follow group">
      <h3>Follow</h3>
      <ul class="social-icons">
        <li>
          <a href="" target="_blank">
            <i class="uil uil-facebook"></i>
          </a>
        </li>
        <li>
          <a href="" target="_blank">
            <i class="uil uil-github"></i>
          </a>
        </li>
        <li>
          <a href="" target="_blank">
            <i class="uil uil-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="hr"></div>
  <div class="footer-copyright group">
    <p>Copyright &copy; 2024. All Rights Reserved</p>
  </div>
</footer>
